html {
    font-size: 10px;
}
html {
    font-family: sans-serif;
} 
* {
    box-sizing: border-box;
}
.title>span
{
	color:#00D999;
}
body, html{
	overflow-x:hidden;
}
#contact {
	background-image:url('bootstrap/images/7039359-desktop-hd-wallpapers-7231.jpg');
	background-position:center center;
	background-repeat:no-repeat;
	background-size:100% 100%;
	display:inline;
	float:left;
	padding:70px 0px;
	width:100%;
}
body{
	font-family:"Open Sans",sans-serif;
	font-size:16px;
	color:#838282;
}
footer:after{
	clear:both;
}
.modal-footer:after{
	display:table;
	content:" ";
}
div{
	visibility:visible;
	animation-name:fadeInLeft;
}
.contact-left{
	background-color:rgba(104, 102, 96, 0.5);
	display:inline;
	float:left;
	padding:30px 40px 10px;
	width:100%;
}
.contact-left h2{
	color:#FAFAFA;
	fontsize:35px;
margin-bottom:35px;
	
}h2{
	color:#FFF;
	font-size:0px;
	font-weight:700;
	line-heiht:40px;
	margin:0px;
	padding-bootom:10px;
	
}h1,h2,h3,h4,h5,h6{
	font-family:"Raleway",sans-serif;
}
.single-address{
	display:inline;
	float:left;
	margin-bottom:15px;
	padding-right:50px;
	width:100%;
}
}
.single-address h4 {
    color: #FAFAFA;
    font-size: 22px;
    font-weight: bold;
margin-bottom: 17px;}
.single-address p{
	color:#FAFAFA;
	font-size:14px;
	margin-bottom:5px;
}
p{
	visibility:visible;
	animation-name:fadeInRight;
}
.contact-right{
	background-color:rgba(104,02,9,0.5);
	display:inline;
	float:left;
	padding:30px 40px;
	width:100%;
}
.fadeInRight{
	animation-name:fadeInRight;
}
.contact-right h2{
	color:#FAFAFA;
	font-size:35px;
	margin-bottom:48px;
}
.contact-form .form-group input{
	background:none repeat scroll 0% 0% transparent;
	color:#E1E1E1;
	font-size:20px;
	border:1px solid #FFF;
	border-radius:0px;
	height:45px;
	margin-bottom:24px;
}
.button-default:after, .button-default > span {
    padding: 12px 21px;
    transition-property: transform, opacity;
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0s, 0s;
transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);}
.button-default:after {
    color: #FFF;
}
.button-default:after {
    content: attr(data-text);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: 0;
    color: #3F51B5;
    transform: translate3d(0px, 25%, 0px);
}
.contact-form button {
    float: right;
    margin-right: 0px;
    border-radius: 0px;
}
.button-default {
    text-decoration: none;
    border-radius: 2px;
    overflow: hidden;
    font-weight: 600;
    font-size: 15px;
    padding: 0px;
    transition-property: border-color, background-color;
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0s, 0s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button {
    float: left;
    display: block;
    margin: 1em;
    border: medium none;
    background: none repeat scroll 0% 0% transparent;
    color: inherit;
    vertical-align: middle;
    position: relative;
    z-index: 1;
}
.button-default {
    border: 2px solid #00D999 !important;
    color: #00D999 !important;
}
.contact-form.button-default:after, .contact-form .button-default > span {
    padding: 12px 40px;
}
.button-default:after, .button-default > span {
    padding: 12px 21px;
    transition-property: transform, opacity;
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0s, 0s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button-default > span {
    display: block;
}
.button > span {
    vertical-align: middle;
}
#footer {
    background-color: #242424;
    display: inline;
    float: left;
    margin-top: -6px;
    width: 100%;
}
.footer-top {
    display: inline;
    float: left;
    width: 100%;
}
.footer-top-area {
    display: inline;
    float: left;
    text-align: center;
    width: 100%;
}
.footer-logo {
    display: inline-block;
}
a {
    text-decoration: none;
    color: #2F2F2F;
}
img {
    border: medium none;
}
.footer-social {
    display: inline;
    float: left;
    margin: 40px 0px;
    width: 100%;
}
.footer-social a {
    border: 1px solid #505050;
    border-radius: 50%;
    color: #B8B8B8;
    display: inline-block;
    font-size: 18px;
    height: 48px;
    line-height: 48px;
    margin: 0px 9px;
    text-align: center;
    width: 48px;
    transition: all 0.5s ease 0s;
}
.footer-bottom {
    display: inline;
    border-top: 1px solid #434343;
    float: left;
    padding: 40px 0px;
    width: 100%;
    text-align: center;
}
.footer-bottom {
    text-align: center;
}
.footer-bottom p {
    color: #FFF;
    font-size: 18px;
    margin-bottom: 0px;
}.footer-bottom p a {
    color: #00D999;
}

.logo-compressed {
    height: 80px;
    width: 70px;
}

ul, ol {
    margin-top: 0px;
    margin-bottom: 10px;
}
.fadeInUp {
    animation-name: fadeInUp;
}
